<%- include("./partials/header") %>
		
		<h1>
			Your action tonight
		</h1>
			<div>
				You have no action. Go back to sleep.
			</div>

		<a href="/night1">Go back to sleep</a>
		
<%- include("./partials/footer") %>