<%- include("./partials/header") %>
		
	<div class="jumbotron">
	  <h1 class="display-4">Your action tonight - Villager</h1>
	  <p class="lead">You have no action. Go back to sleep.</p>
	  <hr class="my-4">
	  <a class="btn btn-outline-secondary" href="/night1" role="button">Go back to sleep</a>
	</div>

		
<%- include("./partials/footer") %>