<%- include("./partials/header") %>

	<div class="jumbotron">
	  <h1 class="display-4">One night ultimate werewolf</h1>
	  <p class="lead">This is a simple game designed for 4 players. You will be randomly assigned the role of a villager, a werewolf or a special character. You will need to figure out who the werewolves are and vote out at least one of them in order to win... unless you are on the werewolf team!</p>
	  <hr class="my-4">
	  <a class="btn btn-primary btn-lg" href="/players">Go to game</a>
	</div>

		
<%- include("./partials/footer") %>