<%- include("./partials/header") %>
		
	<div class="jumbotron">
	  <h1 class="display-4">Night 1</h1>
	  <p class="lead">Nighttime is when the action begins. Take action now!</p>
	  <hr class="my-4">
	  <p>Werewolves and minion can secretly see who the other werewolves are. Seer can see the role of a player. Robber can rob the role of a player, and after that robber will take on the new role when morning comes. Note to robber: if you rob a werewolf or a minion, you will become part of the wolf team.</p>
	  <p>Go to morning when everyone has finished taking action. </p>
	  <a class="btn btn-primary btn-lg" href="/day2">Go to morning</a>
	</div>

	<div class="container">
	  <div class="row">
	  <% players.forEach(function(player){ %>
		  <div class="col-sm-6 col-lg-3">	
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title"><%= player.name %> </h5>
				<a href="/action/<%= player._id %>" class="btn btn-outline-primary">Take action</a>
			  </div>
			</div>
		</div>
	  <% }); %>
	  </div>
	</div>


		
<%- include("./partials/footer") %>