<%- include("./partials/header") %>

<div class="jumbotron">
	<h1 class="display-4">Players in this game</h1>
	<p class="lead">Wait for your friends to join the game. You will need exactly 4 players to proceed.</p>
	<hr class="my-4">
	<p>For the most fun, jump onto a video call with your friends so you can see each other's expression and discuss! </p>
	<p>Start game when everyone is ready and the moderator has initialised the game. </p>
	<a class="btn btn-primary btn-lg" href="/day1">Start game</a>
</div>

<div class="container">
	<div class="row">
	<% players.forEach(function(player){ %>
	  <div class="col-sm-6 col-lg-3">	
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title"><%= player.name %> </h5>
			<p class="card-text">Player in game</p>
		  </div>
		</div>
	</div>
	<% }); %>
	</div>	
	<hr class="my-4">

	
	<form action="/players" method="POST">
		<div class="form-group">
		  <label>New player: enter your name</label>
		  <input name="name" type="text" placeholder="name" class="form-control">
		</div>
		<button class="btn btn-outline-primary">Submit</button>
	</form>
	<hr class="my-4">

	<p>Reset and remove all players in game</p>
	<div>
	  <form action="/players/?_method=DELETE" method="POST">
		<button class="btn btn-outline-danger">Remove all</button>	
	  </form>
	</div>
	<hr class="my-4">
	
	<p>Initialise and reset game when 4 players are ready</p>	
	<div>
	  <form action="/initialise/?_method=PUT" method="POST">
		<button class="btn btn-outline-success">Initialise</button>	
	  </form>
	</div>
	<hr class="my-4">
	
	
</div>


<%- include("./partials/footer") %>