<!DOCTYPE html>
<html>
	<head>
		<title>Werewolves</title>
	</head>
	<body>	
		
		<h1>
			Check this player's role
		</h1>
			<div>
				This player was a <%= player.role1 %>
			</div>

		<a href="/night1">Go back to sleep</a>
		
	</body>
</html>