<!DOCTYPE html>
<html>
	<head>
		<title>Werewolves</title>
	</head>
	<body>	
		
		<h1>
			Your role
		</h1>
			<div>
				You are a <%= player.role1 %>
			</div>

		<a href="/day1">Go back to day 1</a>
		
	</body>
</html>