<%- include("./partials/header") %>
		
	<div class="jumbotron">
	  <h1 class="display-4">Completed voting</h1>
	  <p class="lead">You have voted for <%= player.name %></p>
	  <hr class="my-4">
	  <a class="btn btn-outline-secondary" href="/day2">Go back to day 2</a>
	</div>
		

<%- include("./partials/footer") %>